<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro Evento</title>
    <link rel="stylesheet" href="../../assets/css/usuario.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <section class="form-register-usuario">
        <h1 class="titulo sombra">FORMULARIO REGISTRO CAMPUSERO</h1>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="inlineRadio1">Medellin</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">Bogota</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                    value="option3">
                <label class="form-check-label" for="inlineRadio3">Cali</label>
            </div>
        </div>

        <div class="form-grup" id="div-pabellon">
            <form action="">
                <label>Pabellon </label>
                <br>
                <input list="pabellon">
                <datalist id="pabellon">
                    <option value="C1-P1" />
                    <option value="C1-P2" />
                    <option value="C1-P3" />
                    <option value="C2-P1" />
                    <option value="C2-P2" />
                </datalist>
            </form>
        </div>


        <div class="form-grup">
            <label for="pc">ComputadoraGamer o Portatil</label>
            <select class="form-control" name="pc" id="pc" required>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </div>

        <div class="form-grup">
            <label for="estadia">Estadia</label>
            <select class="form-control" name="estadia" id="estadia" required>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </div>


        <div class="form-grup">
            <label for="vehiculo">Vehiculo</label>
            <select class="form-control" name="vehiculo" id="vehiculo" required>
                <option value="No Aplica">No Aplica</option>
                <option value="Automovil">Automovil</option>
                <option value="Motocicleta">Motocicleta</option>
                <option value="Bicicleta">Bicicleta</option>
            </select>
        </div>

        <div class="form-grup">
            <label for="">Placas</label>
            <br>
            <input type="text" name="placas" id="placas" placeholder="Numero de placa">
        </div>

        <div class="form-grup">
            <label for="carpa">Carpa</label>
            <select class="form-control" name="carpa" id="carpa" required>
                <option value="No Aplica">No Aplica</option>
                <option value="2 Personas">2 Personas</option>
                <option value="4 Personas">4 Personas</option>
                <option value="Familiar">Familiar</option>
            </select>
        </div>


    </section>
</body>

</html>