<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panel Campus Party</title>
    <link href="../../assets/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../../assets/css/admin/admin-menu.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"/>
  </head>

  <body id="body-pd">
    <header class="header" id="header">
      <div class="header_toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
      <div class="header_img">
        <img src="../../assets/src/usericon.png" alt="" />
      </div>
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <a href="#" class="nav_logo">
            <i class="bx bx-layer nav_logo-icon"></i>
            <span class="nav_logo-name">Campus Party</span>
          </a>
          <div class="nav_list">
            <a href="../admin/admin-eventos.html" class="nav_link active">
              <i class="bx bx-grid-alt nav_icon"></i>
              <span class="nav_name">Eventos</span>
            </a>
            <a href="../admin/admin-usuarios.html" class="nav_link">
              <i class="bx bx-user nav_icon"></i>
              <span class="nav_name">Usuarios</span>
            </a>
            <a href="#" class="nav_link">
              <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
              <span class="nav_name">Estadísticas</span>
            </a>
          </div>
        </div>

        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/src/usericon.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>Configuración</strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="../frontal/index.html">Inicio</a></li>
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <li><a class="dropdown-item" href="#">Mis eventos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
          </div>

      </nav>



    </div>

    <div class="height-100 bg-light">
      <!--TODO ADMINISTRADOR EVENTOS-->
        <div class="container mt-2">
          
          <h2 style="text-align:center;">Editar Evento</h2>
          <div class="row justify-content-center">
              <div class="col-8">
                <form>
                    <div class="mb-3">
                      <label for="nombreEvento" class="form-label">Nombre del evento</label>
                      <input type="text" class="form-control" id="nombreEvento" value="asdasdasd">
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                      <div class="col-5">
                        <label for="fechaInicio" class="form-label">Fecha de inicio del evento</label>
                        <input type="date" class="form-control" id="fechaInicio" value="20/10/2022">
                      </div>
                      <div class="col-5">
                        <label for="fechaFin" class="form-label">Fecha de finalización del evento</label>
                        <input type="date" class="form-control" id="fechaFin" value="20/12/2022">
                      </div>
                    </div>    
                    <div class="mb-3">
                      <label for="temasEvento" class="form-label">Temas</label>
                      <input type="text" class="form-control" id="temasEvento" aria-describedby="temasEventoHelp" value="asdasdsadsa">
                      <div id="temasEventoHelp" class="form-text">Inserte los diferentes temas que se abordarán durante el evento.</div>
                    </div>
                    <div class="mb-3">
                      <label for="descEvento" class="form-label">Descripción</label>
                      <textarea class="form-control" id="descEvento">asdasdasdasdsa</textarea>
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                      <label class="form-check-label" for="exampleCheck1">Disponible</label>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                      <div class="col-3">
                        <label for="pais" class="form-label">Pais</label>
                        <input type="text" class="form-control" id="pais" value="Colombia">
                      </div>
                      <div class="col-3">
                        <label for="ciudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" value="Medellín">
                      </div>
                      <div class="col-3">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="direccion" value="Dirección Prueba">
                      </div>
                    </div>  
                    <a href="./admin-eventos.html" class="btn btn-primary">Crear</a>
                  </form>
                </div>
        </div>
    </div>

    <script src="../../assets/js/bootstrap/bootstrap.bundle.js"></script>
    <script src="../../assets/js/admin/menu/admin-menu.js"></script>
  </body>
</html>